*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: .19rem;
  font-family: 'Microsoft YaHei', sans-serif;
  background-color: #f5f5f5;
}
a {
  color: #333;
  text-decoration: none;
}
ul,
ol {
  list-style: none;
}
input[type="text"],
input[type="search"],
textarea {
  border: none;
  outline: none;
  resize: none;
  -webkit-appearance: none;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.clearfix::before,
.clearfix::after {
  content: "";
  display: block;
  visibility: hidden;
  height: 0;
  line-height: 0;
  clear: both;
}
img {
  display: block;
  width: 100%;
}
.mt_10 {
  margin-top: .13rem;
}
.mt_20 {
  margin-top: .27rem;
}
.mt_15 {
  margin-top: .2rem;
}
a {
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.mult_line_ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
.m_container {
  width: 100%;
  min-width: 320px;
  margin: 0 auto;
}
.m_search {
  width: 100%;
  height: 1.33rem;
  background-color: #fff;
  padding: .27rem;
}
.m_search .left {
  height: .8rem;
  overflow: hidden;
  border-radius: .8rem;
}
.m_search .left input {
  width: 100%;
  height: 100%;
  background-color: #F1F1F1;
  padding: 0 .53rem;
  font-size: .35rem;
}
.m_search .right {
  float: right;
  height: .8rem;
  width: 1.71rem;
  border-radius: .8rem;
  background-color: #FF841D;
  color: #fff;
  line-height: .8rem;
  text-align: center;
  margin-left: .13rem;
  font-size: .21rem;
}
.m_footer {
  height: .67rem;
  width: 100%;
  margin-top: .67rem;
}
.m_footer ul {
  border-top: .01rem solid #ccc;
  border-bottom: .01rem solid #ccc;
}
.m_footer ul li {
  float: left;
  height: .8rem;
  width: 33.33%;
}
.m_footer ul li a {
  display: block;
  font-size: .4rem;
  height: .8rem;
  line-height: .8rem;
  text-align: center;
  border-right: .01rem solid #ccc;
}
.m_footer ul .top {
  position: relative;
  padding-left: .4rem;
}
.m_footer ul .top::before {
  content: '';
  width: .4rem;
  height: .4rem;
  display: block;
  position: absolute;
  top: .2rem;
  left: .6rem;
  background: url(../images/top.jpg) no-repeat;
  background-size: .4rem .4rem;
}
.m_footer .footer {
  padding: .47rem 0;
  width: 100%;
  text-align: center;
}
.m_footer .footer .left {
  color: red;
  font-size: .33rem;
}
.m_footer .footer .center {
  font-size: .33rem;
}
.m_footer .footer .right {
  font-size: .33rem;
  color: #51504C;
}
.m_footer p {
  font-size: .35rem;
  color: #51504C;
}
.more {
  width: 100%;
  padding: .27rem;
}
.more a {
  display: block;
  width: 100%;
  height: .8rem;
  border: .01rem solid #ccc;
  border-radius: .07rem;
  line-height: .8rem;
  text-align: center;
  font-size: .36rem;
}
.move {
  display: none;
}
.page {
  background-color: #fff;
  padding-top: .27rem;
}
.page span {
  width: 2.1rem;
  height: .93rem;
  border: 1px solid #ccc;
  display: inline-block;
  font-size: .4rem;
  line-height: .93rem;
  text-align: center;
  margin: 0 .53rem;
}
.page .option {
  border: none;
}
.m_header {
  width: 100%;
  height: 1.33rem;
  background-color: #FF841D;
  padding: 0 .13rem;
}
.m_header .left {
  width: 4.95rem;
  height: .67rem;
  background: url(../images/header_logo.png) no-repeat;
  background-size: 4.95rem .67rem;
  margin-top: .33rem;
}
.m_header .right {
  width: .91rem;
  height: .91rem;
  background: url(../images/header_app.png ) no-repeat;
  background-size: .91rem .91rem;
  margin-top: .27rem;
}
.nav {
  width: 100%;
  height: 1rem;
  background-color: #F1F1F1;
}
.nav .left {
  overflow: hidden;
  height: 1rem;
  padding: 0  .2rem;
  line-height: 1rem;
  font-size: .37rem;
}
.nav button {
  width: 1.67rem;
  height: .8rem;
  float: right;
  border-radius: .2rem;
  margin-top: .1rem;
  margin-right: 0.2rem;
  font-size: .37rem;
}
.product {
  width: 100%;
  background-color: #fff;
  border-bottom: .11rem solid #606060;
  position: relative;
}
.product h3 {
  font-size: .45rem;
  text-align: center;
  font-weight: 400;
  padding: .53rem;
}
.product a {
  display: block;
  width: 100%;
}
.product a img {
  width: 4rem;
  height: 4rem;
  margin: 0 auto;
}
.product .collect {
  width: 1.07rem;
  height: 1.07rem;
  background-color: #8BC900;
  color: #fff;
  font-size: .37rem;
  line-height: 1.07rem;
  text-align: center;
  position: absolute;
  top: 4.8rem;
  right: .67rem;
  border-radius: 50%;
}
.product .info {
  height: .87rem;
}
.product .info a {
  color: #fff;
  text-align: center;
  line-height: .85rem;
  display: block;
  float: left;
  width: 33.33%;
  background-color: #FFCA39;
  border: 2px solid #BC3C00;
  border-left: none;
  font-size: .37rem;
}
.product .info .organe {
  background-color: #FF9F21;
}
.product .info a:last-child {
  border-right: none;
}
.product .buy {
  width: 100%;
  height: 1.17rem;
  padding: .33rem .13rem;
  border-bottom: 1px solid #ccc;
}
.product .buy img {
  width: .48rem;
  height: .48rem;
  display: inline-block;
  margin-top: 10px;
}
.product .buy td a {
  font-size: .45rem;
}
.product .red {
  color: red;
  font-size: .45rem;
  margin-right: .53rem;
  float: right;
}
.product td span {
  width: 1.47rem !important;
  height: .67rem !important;
  line-height: .67rem !important;
  background-color: #FF5000 !important;
  border-radius: .2rem !important;
  font-size: .45rem !important;
  float: right !important;
}
.product p {
  padding: .33rem ;
  font-size: .28rem;
  color: #666;
}
.m_comContent {
  width: 100%;
  background-color: #fff;
}
.m_comContent .title {
  height: .88rem;
  background-color: #DBDBDB;
  font-size: .35rem;
  line-height: .88rem;
  text-align: center;
}
.m_comContent .item {
  padding: .4rem .27rem ;
  border-bottom: 1px solid #ccc;
}
.m_comContent .item .top,
.m_comContent .item .form {
  font-size: .35rem;
  color: #666;
}
.m_comContent .item p {
  font-size: .32rem;
}
