*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: .19rem;
  font-family: 'Microsoft YaHei', sans-serif;
  background-color: #f5f5f5;
}
a {
  color: #333;
  text-decoration: none;
}
ul,
ol {
  list-style: none;
}
input[type="text"],
input[type="search"],
textarea {
  border: none;
  outline: none;
  resize: none;
  -webkit-appearance: none;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.clearfix::before,
.clearfix::after {
  content: "";
  display: block;
  visibility: hidden;
  height: 0;
  line-height: 0;
  clear: both;
}
img {
  display: block;
  width: 100%;
}
.mt_10 {
  margin-top: .13rem;
}
.mt_20 {
  margin-top: .27rem;
}
.mt_15 {
  margin-top: .2rem;
}
a {
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.mult_line_ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
.m_container {
  width: 100%;
  min-width: 320px;
  margin: 0 auto;
}
.m_search {
  width: 100%;
  height: 1.33rem;
  background-color: #fff;
  padding: .27rem;
}
.m_search .left {
  height: .8rem;
  overflow: hidden;
  border-radius: .8rem;
}
.m_search .left input {
  width: 100%;
  height: 100%;
  background-color: #F1F1F1;
  padding: 0 .53rem;
  font-size: .35rem;
}
.m_search .right {
  float: right;
  height: .8rem;
  width: 1.71rem;
  border-radius: .8rem;
  background-color: #FF841D;
  color: #fff;
  line-height: .8rem;
  text-align: center;
  margin-left: .13rem;
  font-size: .21rem;
}
.m_footer {
  height: .67rem;
  width: 100%;
  margin-top: .67rem;
}
.m_footer ul {
  border-top: .01rem solid #ccc;
  border-bottom: .01rem solid #ccc;
}
.m_footer ul li {
  float: left;
  height: .8rem;
  width: 33.33%;
}
.m_footer ul li a {
  display: block;
  font-size: .4rem;
  height: .8rem;
  line-height: .8rem;
  text-align: center;
  border-right: .01rem solid #ccc;
}
.m_footer ul .top {
  position: relative;
  padding-left: .4rem;
}
.m_footer ul .top::before {
  content: '';
  width: .4rem;
  height: .4rem;
  display: block;
  position: absolute;
  top: .2rem;
  left: .6rem;
  background: url(../images/top.jpg) no-repeat;
  background-size: .4rem .4rem;
}
.m_footer .footer {
  padding: .47rem 0;
  width: 100%;
  text-align: center;
}
.m_footer .footer .left {
  color: red;
  font-size: .33rem;
}
.m_footer .footer .center {
  font-size: .33rem;
}
.m_footer .footer .right {
  font-size: .33rem;
  color: #51504C;
}
.m_footer p {
  font-size: .35rem;
  color: #51504C;
}
.more {
  width: 100%;
  padding: .27rem;
}
.more a {
  display: block;
  width: 100%;
  height: .8rem;
  border: .01rem solid #ccc;
  border-radius: .07rem;
  line-height: .8rem;
  text-align: center;
  font-size: .36rem;
}
.move {
  display: none;
}
.page {
  background-color: #fff;
  padding-top: .27rem;
}
.page span {
  width: 2.1rem;
  height: .93rem;
  border: 1px solid #ccc;
  display: inline-block;
  font-size: .4rem;
  line-height: .93rem;
  text-align: center;
  margin: 0 .53rem;
}
.page .option {
  border: none;
}
.m_header {
  width: 100%;
  height: 1.33rem;
  background-color: #FF841D;
  position: relative;
}
.m_header .header {
  width: 100%;
  height: 1.33rem;
  font-size: .57rem;
  color: #fff;
  text-align: center;
  line-height: 1.33rem;
}
.m_header .header::after {
  content: "";
  width: .91rem;
  height: .91rem;
  background: url(../images/header_app.png ) no-repeat;
  background-size: .91rem .91rem;
  position: absolute;
  top: 15px;
  right: .27rem;
}
.m_header a {
  position: absolute;
  top: 0;
  left: 0;
  width: 1.07rem;
  height: 1.33rem;
  padding: .4rem;
}
.m_header a i {
  font-size: .53rem;
  color: #fff;
}
.m_title {
  width: 100%;
  padding: 0 .27rem;
  background-color: #fff;
}
.m_title h3 {
  font-size: .48rem;
  height: .93rem;
  line-height: .93rem;
  color: #666;
}
.m_title .s_title {
  width: 100%;
  height: .8rem;
  color: #666;
  font-size: .27rem;
  padding-top: .27rem;
}
.main {
  background-color: #fff;
  padding: 0 .27rem;
}
.main .info {
  width: 100%;
}
.main .info .left {
  overflow: hidden;
  font-size: .4rem;
  color: #666;
}
.main .info img {
  width: 3.53rem;
  height: 3.53rem;
  margin-left: .4rem;
}
.main p {
  font-size: .4rem;
  color: #666;
}
.main .big_img {
  width: 6rem;
  height: 6rem;
}
.go_buy {
  padding: 0 .73rem;
  margin-top: .4rem;
  width: 100%;
  background-color: #fff;
}
.go_buy a {
  width: 100%;
  display: block;
  height: .8rem;
  background-color: #FF9000;
  color: #fff;
  line-height: .8rem;
  font-size: .35rem;
  text-align: center;
  border-radius: .13rem;
}
.app_img {
  padding-top: 1.2rem;
  background-color: #fff;
  margin-bottom: .27rem;
}
.new_com {
  background-color: #fff;
}
.new_com .tit {
  font-size: .32rem;
  margin-bottom: .13rem;
  background-color: #fff;
  padding: 0 .4rem;
}
.new_com .reply {
  width: 100%;
  height: 2.87rem;
  padding: .13rem;
}
.new_com .reply .form {
  width: 100%;
  height: 100%;
  border: .03rem solid #c4c4c4;
  border-radius: .07rem;
}
.new_com .reply .form textarea {
  width: 100%;
  height: 1.93rem;
}
.new_com .reply .form input {
  line-height: normal;
}
.new_com .reply .ctrl {
  overflow: hidden;
  border-top: .01rem solid #f2f2f2;
}
.new_com .reply .ctrl input {
  float: right;
  width: 1.73rem;
  height: .56rem;
  background-color: #ff841d;
  color: #fff;
  border: 0;
  font-size: .3rem;
}
.new_com li {
  overflow: hidden;
  height: 2.67rem;
  background-color: #fff;
  padding: 0 .4rem;
}
.new_com li .userimg {
  float: left;
}
.new_com li .userimg img {
  float: left;
  width: 1.12rem;
  height: 1.12rem;
  border-radius: 50%;
}
.new_com li .con {
  padding-top: .2rem;
  padding-left: .13rem;
  overflow: hidden;
  font-size: .21rem;
}
.new_com li .con .name .username {
  float: left;
  color: #4a86c2;
}
.new_com li .con .name .time {
  float: right;
  color: #7e7f97;
}
.new_com li .con .content {
  padding-top: .13rem;
  font-size: .24rem;
}
.new_com li .con .content img {
  width: .29rem;
  height: .29rem;
}
.price {
  color: #FF841D;
  font-size: .4rem;
}
